{{ partial "header.html" . }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_PI/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section>{{ .Content }}</section>
{{ range .Pages }}
<h3>{{ .Title }}</h3>
<div> {{ .Content }}</div>
{{ end }}

<div class="container">
  <div class="row">
      <div class="col-xs-12">
      </div>
  </div>
  <h1 class="om">{{ .Title }}</h1>
<p class="kontakt">Høre nærmere om design systemet.</p>
  <section class="row">
</section>

  <section class="row">

    <div class="container">
        <div id="formfeedback" class="hidden">Vender tilbage!</div>
          <form action="" method="post" id="kontaktmig">

<!--				required-->
              <label for="Navn">Navn</label>
              <input type="text" id="navn" name="navn" placeholder="Dit navn" required>

              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" placeholder="Din e-mail" required>

              <label for="henvendelse">Henvender vedr.:</label>
              <select id="henvendelse" name="henvendelse">
                <option value="support">køb</option>
                <option value="tilbud">Tilbud</option>
                <option value="prepurchase">Support</option>
              </select>

              <label for="besked">Besked</label>
              <textarea id="besked" name="besked" placeholder="Din besked.."></textarea>

              <input type="submit" name="submit" value="Submit">

              <div id="formfailure" class="hidden"></div>
          </form>

      </div>
      <div class="fb-comments" data-href="http://www.prfrankild.dk/sem3/design_systems/design_systems.html/" data-width="60%" data-numposts="5"></div>
	</div>

  </section>

</div>

{{ partial "footer.html" . }}
