{{ partial "header.html" . }}
<p>This is a tekst put into all single pages</p>
<div style="margin:25px;">
     <h1>{{.Title}}</h1>
     <div class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} minute read </div>
     <div style="color:lightred; font-size:16px; font-family:Comic Sans MS;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
     <div style="color:lightblu; font-size:16px; font-family:Calibri;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
     <div style="color:grey; font-size:16px; font-family:Times New Roman;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
 <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
     <div style="font-size:18px;">{{.Content}}</div>
</div>
{{ partial "footer.html" . }}
